* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body {
    background-color: #f2f2f2f2;
    zoom: 80%;
}

.nav-container {
    background-color: #ffffff;
    width: 100%;
    height: 100px;

}

.logo {
    width: 100%;
    height: 100%;
    /* margin-left: 20px;
    padding-left: 10px; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;

}

.logo h1 {
    font-size: 30px;
    margin-left: 50px;
    margin-right: 450px;
}

.logo a {
    font-size: 25px;
    margin-left: 35px;
    text-decoration: none;
    color: rgb(196, 67, 67);
}

.logo a:hover {
    color: rgb(237, 13, 13);
    text-decoration: underline;

}

.logo button {
    font-size: 16px;
    width: 148px;
    height: 45px;
    margin-left: 420px;
    background-color: red;
    color: #ffffff;
    border-radius: 50px;
    border: none;
    outline: none;
}

.logo button:hover {
    background-color: rgb(226, 86, 86);

}

/* About Food */

.ad {
    display: flex;
    align-items: center;
  
    background: transparent;
   
    width: 565px;
    height: 850px;
    margin-top: 35px;
    margin-left: 200px;
    padding-left: 10px;


}

.ad .about-food {

    height: 255px;
}

.ad .about-food h1 {

    margin-bottom: 50px;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ad .about-food p {
    margin-bottom: 70px;
    font-size: 30px;
}


.ad .about-food button {
    font-size: 16px;
    width: 148px;
    height: 45px;
    margin-left: 20px;
    background-color: red;
    color: #ffffff;
    border-radius: 50px;
    border: none;
    outline: none;
}

.video-button {
    display: inline;
    margin-left: 38px;
    font-size: 25px;
    color: #212529;
}

.video-button:hover {
    color: rgb(214, 82, 82);
}

.ad button:hover {
    background-color: rgb(235, 100, 100);

}

.food-image img {
    width: 750px;
    height: 600px;
    position: absolute;
    /*Ensure consistent positioning */
    overflow: hidden;
    left: 1005px;
    /* left: auto; */
    bottom: 95px;
    animation: float 3s cubic-bezier(0.65, 1, 0.65, 1) infinite alternate;
}

@keyframes float {
    0% {
        transform: translateY(30px);
        /* Move slightly up */
    }

    100% {
        transform: translateY(0);
        /* Return to original position */
    }
}


.description-background {
    width: 100%;
    background-color: #ffffff;
}

.about-restaurant {
    width: 93%;
    height: 1200px;
    background-color: #ffffff;
    padding: 105px 0 60px 190px;
}


.restaurant-title {
    text-align: center;
    padding-bottom: 38px;
}

.restaurant-title h2 {
    font-size: 25px;
    color: rgb(196, 102, 102);
    margin-bottom: 18px;
}

.restaurant-title span {
    font-size: 28px;
}

#red {
    color: #ce121c;
}

/* Restaurant-description */

.restaurant-description {
    width: 100%;
    height: 850px;
    border: 2px dotted black;
    display: flex;
    justify-content: space-between;

}

.restaurant-image {
    padding: 18px 18px;

}

.restaurant-image img {

    width: 756px;
    height: 674px;
    margin-bottom: 20px;
}

.table-booking {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-booking {

    padding: 20px;
    text-align: center;
    width: 750px;
    height: 130px;
    border: 4px solid #212529;

}



.table-booking h3 {
    width: 600px;
    height: 30px;
    font-size: 29px;
    padding-bottom: 50px;
}

.table-booking p {
    width: 580px;
    height: 42px;
    font-size: 29px;
    font-weight: 700;
    color: #ce121c;
    text-align: center;
}

.restaurant-content {
    border-left: 2px dotted black;
    width: 700px;
    height: 100%;
    padding: 0 10px 0 50px;

}

.content p {
    padding: 20px 18px;
    width: 650px;
    height: 60px;
    font-size: 20px;
    margin-bottom: 40px;
}

.content span {
    width: 500px;
    padding: 20px 10px;
    font-size: 18px;
    font-weight: 700;
    display: block;
}


/* why-section */

.why-section {
    width: 100%;
    height: 450px;
    padding-left: 192px;
    display: flex;
    align-items: center;
    background-color: #f2f2f2f2;

}

.why-box {
    width: 490px;
    height: 400px;
    background-color: #ce121c;
    color: white;
    padding: 40px;
    margin: 0 30px 0 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}

.why-box h3 {
    width: 360px;
    font-size: 38px;
    color: #ffffff;
    margin: 0px 0px 20px 20px;
}

.why-box p {
    width: 379px;
    height: 170px;
    font-size: 23px;
    font-weight: 500;
    color: #ffffff;
    margin: 0 0 20px 0;
}

.why-box .more-section {
    width: 100%;
    height: 50px;
    text-align: center;
}

.why-box button {
    width: 190px;
    height: 49px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid red;
    color: white;
    margin: 10px 0 0 115px;
}

.why-box span {
    font-size: 20px;
}

.why-box button:hover {
    background-color: black;
}

.features {
    background-color: #ffffff;

    width: 390px;
    height: 400px;

    display: flex;
    align-items: center;
    padding: 35px;
    margin: 35px;
}

.features-content i {
    width: 300px;
    height: 100px;
    padding-top: 30px;
    text-align: center;
    font-size: 50px;
    color: #ce121c;

}

.features h4 {
    width: 270px;
    font-size: 29px;
    text-align: center;
    margin: 0px 0px 20px 20px;
    color: #212529;
}

.features p {
    width: 379px;
    height: 170px;
    font-size: 23px;
    font-weight: 500;
    color: rgb(122, 114, 114);
    margin: 0 0 20px 0;
}


.dark-background{
    width: 100%;
    height: 450px;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("Image/pexels-photo-2664216.jpeg");
    background-repeat: no-repeat;
    background-size: cover;  
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-staff
{
    width: 450px;
    height: 200px;
    padding: 30px;
    text-align: center;
}

.about-staff span{
    font-size: 50px;
}

.about-staff p{
    font-size: 25px;
    margin-top: 20px;
    color: rgba(205, 193, 193, 0.792);
}


/* main-section*/

.menu-section{
    width: 94%;
    height: 1400px;
    padding: 38px 0 38px;
    margin-left:  100px;
 
    /* display: flex;
    justify-content: center; */
   
}


.menu-title
{
    width: 1350px;
    height: 160px;
    /* margin: 0px 150px; */
    text-align: center;
    margin-left: 100px;
}

.menu-title h3{
    font-size: 30px;
    margin-bottom: 20px;
    color: rgba(128, 128, 128, 0.84);
    font-weight: 200;
}

.menu-title span{
   font-size: 27px;
}

.menu-options .menu-selector
{
    width: 1300px;
    height: 60px;
    text-align: center;
    margin-left: 130px;
}
.menu-options a{
    text-decoration: none;
    color: #37373f;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    padding: 30px;
}

.food-items{
    width: 1500px;
    height: 480px;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 100px;
   

}

.food-menu-items
{
    width: 500px;
    height: 450px;
    padding-top: 50px;
    
}

.food-menu-items img{
    width: 450px;
}

.food-items h4{
    font-size: 30px;
    /* width: 150px; */
    text-align: center;
}
.food-items p{
    font-size: 22px;
    color: rgba(128, 128, 128, 0.77);
    text-align: center;
}

.food-items .red
{
    color: #ce121c;
}


/* ABout Chefs */
section{
    height: 100%;

}
.about-chefs{
    width: 1600px;
    height: 650px;
    text-align: center;
    padding: 38px 0 38px;
    margin-left:  100px;
    
}

.about-chefs h4, .book-a-table h2{
    width: 1600px;
    font-size: 20px;
    margin-bottom: 25px;
    margin-left: 40px;
}

.about-chefs p, .book-a-table p{
    width: 1600px;
    font-size: 48px; 
    margin-left: 48px;
}
.about-chefs .chefs-intro{
    display: flex;
    margin-left: 100px;
}

.about-chefs .chef-name{
    width: 500px;
    font-size: 28px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #37373f;
    margin: 0 0 18px;
}

.about-chefs span{
    font-size: 19px;
    color: rgba(128, 128, 128, 0.966);
}

.about-chefs .chef-detail{
    width: 500px;
    font-size: 25px;
    color: rgb(128, 128, 128);
    margin-top: 10px;

}

/* About-Booking */
.book-a-table {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}


.book-a-table
{
    width: 1600px;
    height: 920px;
    background-color: #ffffff;
    padding: 38px 0 38px;
    margin-left:  100px;
}



.book-a-table p{
    margin-bottom: 79px;
}

.dining-image img
{
    width: 650px;
    height: 600px;
}

.input-section 
{
    display: flex;

}

.form{
    padding-top: 120px;
    height: 530px;
}

.input-section input{
     height: 40px;
    margin: 0 0 40px 25px;
    font-size: 25px;
}

.input-section input::placeholder{
     font-size: 20px;
     padding: 40px;
}

.input-section .size-increase
{
    width: 318px;
}

.input-section textarea{
    width: 600px;
    height: 135px;
    font-size: 25px;
}

.input-section textarea::placeholder{
    font-size: 25px;
    padding: 20px;
    opacity: 0.5;
}

.book-button{
    width: 1500px;
    height: 100px;
    margin-top: -80px;
}
.book-a-table button{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: #ce121c;
    color: white;
    position: absolute;
    margin-left: 250px;
}

.book-a-table button:hover{
    background-color: #37373f;
}



/* footer */

.footer-dark-background
{
    width: 100%;
    height: 300px;
    background-color: #1F1F24;
    color: #ffffff;
    padding: 50px 0;
}
 
.footer-panel
{
    height: 150px;
    margin-left: 250px;
    display: flex;
}
.footer-panel i{
    margin: 0 10px 0 -32px;

}

.address-panel, .contact-panel, .time-panel, .follow-panel{
    width: 300px;
    margin-right: 130px;
   
}


.footer-panel  h4{
    font-size: 20px;
    font-size: 28px;
    width: 180px;
    margin-bottom: 10px;
}

.footer-panel  p
{
    width: 150px;
    font-size: 24px;
    
}

.social-media
{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.social-media i{
    font-size: 29px;
}

hr{
    border: none;
    height: 3px;
    background-color: #37373f;
}

.copyright
{
    font-size: 25px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.copyright p{
    margin: 10px;
}





/* loading */
.loading {
    display: flex;
    justify-content: center;

}


.loader {

   bottom: 0;
    left: 900px;
    width: 100px;
    height: 100px;
    border: 2px solid gray;
    border-top: 2px solid black;
    border-radius: 50%;
    animation: spinAnimation 1.5s ease-in-out 0s infinite normal;
}

@keyframes spinAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

@media (max-width: 768px) {
    .nav-container {
        height: auto;
    }

    .logo {
        flex-direction: column;
    }

    .ad {
        width: 90%;
    }

    .food-image img {
        width: 80%;
        left: 10%;
    }
}