* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body {
    background-color: #f2f2f2f2;
}

.nav-container {
    background-color: #ffffff;
    width: 100%;
    height: 100px;

}

.logo {
    width: 100%;
    height: 100%;
    /* margin-left: 20px;
    padding-left: 10px; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;

}

.logo h1 {
    font-size: 30px;
    margin-left: 50px;
    margin-right: 450px;
}

.logo a {
    font-size: 25px;
    margin-left: 35px;
    text-decoration: none;
    color: rgb(196, 67, 67);
}

.logo a:hover {
    color: rgb(237, 13, 13);
    text-decoration: underline;

}

.logo button {
    font-size: 16px;
    width: 148px;
    height: 45px;
    margin-left: 420px;
    background-color: red;
    color: #ffffff;
    border-radius: 50px;
    border: none;
    outline: none;
}

.logo button:hover {
    background-color: rgb(226, 86, 86);

}

/* About Food */

.ad {
    display: flex;
    align-items: center;
    /* background-color: red; */
    background: transparent;
    /* backdrop-filter: blur(200px); */
    /* border: 25px solid rgb(255, 255, 255, .2); */
    width: 565px;
    height: 850px;
    margin-top: 35px;
    margin-left: 200px;
    padding-left: 10px;


}

.ad .about-food {

    height: 255px;
}

.ad .about-food h1 {

    margin-bottom: 50px;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ad .about-food p {
    margin-bottom: 70px;
    font-size: 30px;
}


.ad .about-food button {
    font-size: 16px;
    width: 148px;
    height: 45px;
    margin-left: 20px;
    background-color: red;
    color: #ffffff;
    border-radius: 50px;
    border: none;
    outline: none;
}

.video-button {
    display: inline;
    margin-left: 38px;
    font-size: 25px;
    color: #212529;
}

.video-button:hover {
    color: rgb(214, 82, 82);
}

.ad button:hover {
    background-color: rgb(235, 100, 100);

}

.food-image img {
    width: 750px;
    height: 600px;
    position: absolute;
    /*Ensure consistent positioning */
    overflow: hidden;
    left: 1005px;
    /* left: auto; */
    bottom: 95px;
    animation: float 3s cubic-bezier(0.65, 1, 0.65, 1) infinite alternate;
}

@keyframes float {
    0% {
        transform: translateY(30px);
        /* Move slightly up */
    }

    100% {
        transform: translateY(0);
        /* Return to original position */
    }
}


.description-background {
    width: 100%;
    background-color: #ffffff;
}

.about-restaurant {
    width: 93%;
    height: 1200px;
    background-color: #ffffff;
    padding: 105px 0 60px 190px;
}


.restaurant-title {
    text-align: center;
    padding-bottom: 38px;
}

.restaurant-title h2 {
    font-size: 25px;
    color: rgb(196, 102, 102);
    margin-bottom: 18px;
}

.restaurant-title span {
    font-size: 28px;
}

#red {
    color: #ce121c;
}

/* Restaurant-description */

.restaurant-description {
    width: 100%;
    height: 850px;
    border: 2px dotted black;
    display: flex;
    justify-content: space-between;

}

.restaurant-image {
    padding: 18px 18px;

}

.restaurant-image img {

    width: 756px;
    height: 674px;
    margin-bottom: 20px;
}

.table-booking {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-booking {

    padding: 20px;
    text-align: center;
    width: 750px;
    height: 130px;
    border: 4px solid #212529;

}



.table-booking h3 {
    width: 600px;
    height: 30px;
    font-size: 29px;
    padding-bottom: 50px;
}

.table-booking p {
    width: 580px;
    height: 42px;
    font-size: 29px;
    font-weight: 700;
    color: #ce121c;
    text-align: center;
}

.restaurant-content {
    border-left: 2px dotted black;
    width: 700px;
    height: 100%;
    padding: 0 10px 0 50px;

}

.content p {
    padding: 20px 18px;
    width: 650px;
    height: 60px;
    font-size: 20px;
    margin-bottom: 40px;
}

.content span {
    width: 500px;
    padding: 20px 10px;
    font-size: 18px;
    font-weight: 700;
    display: block;
}


/* why-section */

.why-section {
    width: 100%;
    height: 450px;
    padding-left: 192px;
    display: flex;
    align-items: center;
    background-color: #f2f2f2f2;

}

.why-box {
    width: 490px;
    height: 400px;
    background-color: #ce121c;
    color: white;
    padding: 40px;
    margin: 0 30px 0 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}

.why-box h3 {
    width: 360px;
    font-size: 38px;
    color: #ffffff;
    margin: 0px 0px 20px 20px;
}

.why-box p {
    width: 379px;
    height: 170px;
    font-size: 23px;
    font-weight: 500;
    color: #ffffff;
    margin: 0 0 20px 0;
}

.why-box .more-section {
    width: 100%;
    height: 50px;
    text-align: center;
}

.why-box button {
    width: 190px;
    height: 49px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid red;
    color: white;
    margin: 10px 0 0 115px;
}

.why-box span {
    font-size: 20px;
}

.why-box button:hover {
    background-color: black;
}

.features {
    background-color: #ffffff;

    width: 390px;
    height: 400px;

    display: flex;
    align-items: center;
    padding: 35px;
    margin: 35px;
}

.features-content i {
    width: 300px;
    height: 100px;
    padding-top: 30px;
    text-align: center;
    font-size: 50px;
    color: #ce121c;

}

.features h4 {
    width: 270px;
    font-size: 29px;
    text-align: center;
    margin: 0px 0px 20px 20px;
    color: #212529;
}

.features p {
    width: 379px;
    height: 170px;
    font-size: 23px;
    font-weight: 500;
    color: rgb(122, 114, 114);
    margin: 0 0 20px 0;
}

/* loading */
.loading {
    display: flex;
    justify-content: center;

}


.loader {


    left: 900px;
    width: 100px;
    height: 100px;
    border: 2px solid gray;
    border-top: 2px solid black;
    border-radius: 50%;
    animation: spinAnimation 3s ease-in-out 0s infinite normal;
}

@keyframes spinAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

@media (max-width: 768px) {
    .nav-container {
        height: auto;
    }

    .logo {
        flex-direction: column;
    }

    .ad {
        width: 90%;
    }

    .food-image img {
        width: 80%;
        left: 10%;
    }
}